page-login {
  background-image: url('../../assets/imgs/map.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  ion-content {
    background-color: transparent !important;

    .logo-section {
      background-color: rgba(0, 113, 188, 0.75);
      height: 40%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      align-content: center;
      justify-content: space-evenly;
      padding: 2.01rem 0;

      img {
        display: block;

        &#emblem { height: 7.4rem }
        &#lettermark { height: 8.2rem }
      }
    }

    .input-section {
      background-color: rgba(0, 0, 0, 0.75);
      height: 60%;

      ion-list {
        border-top: 1px solid white;

        ion-item {
          padding: 0 3rem;
          border-top: none !important;
          border-bottom: 1px solid white;

          ion-icon {
            font-size: 3.6rem;
            padding: 0 1.3438rem;
            margin: 0.8rem 2.4rem 0.8rem 0 !important;
            box-sizing: content-box;
          }
          .item-inner {
            border: none !important;
            &, input { margin-left: 0 !important; }
          }

          &.remember-me {
            ion-toggle {
              margin-right: 2.4rem;
              padding-right: 0 !important;
              
              .toggle-inner {
                background-image: #{$bg-gradient};
                border: solid thin white;
                top: -0.2rem;
              }
            }
            ion-label {
              color: #{$text-input-placeholder-color};

              &.remembering { color: white; }
            }
          }
        }
        ion-item:last-child {
          border-bottom: none !important;
        }
      }
    }
    .nav-section {
      // background-color: rgba(0, 0, 0, 0.75) !important;
      left: 0;
      bottom: 0;
      position: absolute;
      display: block;
      width: 100%;
  
      button {
        background-image: #{$bg-gradient};
      }
      span, a { color: white; }
    }

  } // end ion-content
} // end page-login
