<ion-menu type="overlay" id="myMenu" swipeEnabled="false" [content]="content">
  <ion-header class="menuHeader">
      <ion-list no-lines>
        <ion-item (click)="goToInfo()" menuToggle>
          <ion-avatar item-start>
            <img *ngIf="auth.image" [src]="auth.image">
          </ion-avatar>
            <h2 style="text-transform: capitalize">{{auth.profileData?.first_name}} {{auth.profileData?.last_name}}</h2>
          <p>{{auth.profileData?.school}}</p>
        </ion-item>
      </ion-list>
  </ion-header>

  <ion-content>
    <ion-list no-lines>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
      <button class="subMenu" menuClose ion-item *ngFor="let sub of subPages" (click)="openPage(sub)">
        {{sub.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
