// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// ion-title{
//   font-family: 'Luckiest Guy', cursive;
//   color:green;
// }

html { font-size: calc((10 / 600)*(100vw - 0px)) }

[ion-fixed] {
  height: 100%;
  width: 100%;
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1.5em;
    height: 1.5em;
  }

  &[class*="custom-email"] {
    mask-image: url(../assets/icon/tutor-icon-email.svg);
  }
  &[class*="custom-lock"] {
    mask-image: url(../assets/icon/tutor-icon-lock.svg);
  }
}

.ios {
  .menuHeader {
    padding-top: 25px;
    height: 90px;
  }
}

.md {
  .menuHeader {
    height: 65px;
  }
}

.error {
  > div {
    background-color: red!important;
  }
}
.success {
  > div {
    background-color: green!important;
  }
}

.subMenu {
  font-size: 13px;
  font-weight: bolder;
}

